@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

@import 'package:angular_components/css/material/material';

@import "config";

$overlaid-background-color: $accent-color !default;
$overlaid-text-color: $accent-text-color !default;

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $overlaid-background-color;
  min-height: 100%;
  margin: 0;
}

.app-placeholder {
  color: $overlaid-text-color;
}

h1, h2, h3 {
  text-align: center;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-width-input {
  padding: 0 10%;

  material-input {
    width: 100%;
  }
}

p.center-text {
  text-align: center;
}

a, a:visited {
  color: darken($mat-blue, 20%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
